<h1>Poker Cards</h1>
<%= link_to "Refresh this page to deal a new hand", "/poker", :method => "get"%>

<div>
	<%= image_tag @cardPickPic[1]%>
	<%= image_tag @cardPickPic[2]%>
	<%= image_tag @cardPickPic[3]%>
	<%= image_tag @cardPickPic[4]%>
	<%= image_tag @cardPickPic[5]%>
</div>
